<launch>

  <arg name="output" default="screen"/>
  <arg name="file" default="-f $(find move3d_ros)/assets/Pr2/pr2.p3d" />
  <arg name="guiparams" default="-setgui -not_rel_home -params $(find move3d_ros)/guiparams/pr2" />
  <!-- Start the left arm controller -->
  <node pkg="move3d_ros" type="move3d_ros_node" name="move3d_pr2" output="$(arg output)" args="$(arg file) $(arg guiparams)">
 </node>

</launch>
