<launch>

  <arg name="output" default="screen"/>
  <arg name="file" default="-f $(env HOME_MOVE3D)/../assets/Pr2/pr2.p3d" />
  <arg name="guiparams" default="-setgui -params $(find move3d_ros)/guiparams/pr2" />

  <!-- INCLUDE OTHER FILE
  <include file="$(find archie_moveit_config)/launch/planning_context.launch" />
  -->

  <!-- Start the left arm controller -->
  <node pkg="move3d_ros" type="move3d_ros_node" name="move3d_pr2" output="$(arg output)" args="$(arg file) $(arg guiparams)">
    <!-- <param name="arm_pose_topic" type="string" value="$(arg left_arm_pose_topic)" /> -->
  </node>

</launch>
