<launch>

  <arg name="output" default="screen"/>
  <!-- <arg name="file" default="-f $(env HOME_MOVE3D)/../assets/Pr2/pr2.p3d" /> -->
  <env name="HOME_MOVE3D" value="$(find move3d_ros)" />

  <!-- <arg name="file" default="-f $(find move3d_ros)/assets/Pr2/pr2.p3d" /> -->
  <arg name="file" default="-f $(find move3d_ros)/assets/Collaboration/HumanAndRobotTableMocap.p3d" />
  <arg name="sce" default="-sc $(find move3d_ros)/assets/Collaboration/SCENARIOS/collaboration_test_pr2_aterm.sce" />
  <arg name="guiparams" default="-setgui -not_rel_home -params $(find move3d_ros)/guiparams/pr2_collaboration_aterm " />
  <arg name="draw_human_update" default="true" />
  <arg name="run_replanning" default="false" />

  <!-- INCLUDE OTHER FILE
  <include file="$(find archie_moveit_config)/launch/planning_context.launch" />
  -->

  <!-- Start the left arm controller -->
  <node pkg="move3d_ros" type="move3d_ros_node" name="move3d_pr2" output="$(arg output)" args="$(arg file) $(arg guiparams) $(arg sce)">
    <param name="run_human_tracking" value="true" />
    <param name="run_robot_backend" value="false" />
    <param name="run_replanning" value="$(arg run_replanning)" />
    <param name="draw_human_update" value="$(arg draw_human_update)" />
  </node>

</launch>
