<launch>

  <arg name="output" default="screen"/>
  <!-- <arg name="file" default="-f $(env HOME_MOVE3D)/../assets/Pr2/pr2.p3d" /> -->
  <env name="HOME_MOVE3D" value="$(find move3d_ros)" />

  <!-- <arg name="file" default="-f $(find move3d_ros)/assets/Pr2/pr2.p3d" /> -->
  <arg name="file" default="-f $(find move3d_ros)/assets/Collaboration/HumanAndRobotTableMocap.p3d" />
  <arg name="sce" default="-sc $(find move3d_ros)/assets/Collaboration/SCENARIOS/collaboration_test_pr2_aterm.sce" />
  <arg name="guiparams" default="-setgui -not_rel_home -params $(find move3d_ros)/guiparams/pr2_collaboration_aterm" />

  <!-- parameters of the node -->
  <arg name="draw_human_update" default="false" />
  <arg name="draw_robot_update" default="false" />
  <arg name="run_human_tracking" default="true" />
  <arg name="run_robot_backend" default="true" />
  <arg name="run_replanning" default="true" />
  <arg name="robot_split_file" default="" />
  <arg name="robot_split_save" default="" />

  <!-- If set to -startnode will update on start -->
  <arg name="start_node" default="-startnode" />

  <!-- INCLUDE OTHER FILE
  <include file="$(find archie_moveit_config)/launch/planning_context.launch" />
  -->

  <!-- Start the left arm controller -->
  <!-- Allways put the node arguments at the end -->
  <node pkg="move3d_ros" type="move3d_ros_node" 
            name="move3d_pr2" output="$(arg output)" 
            args="$(arg file) $(arg guiparams) $(arg sce) $(arg start_node)">

    <param name="draw_human_update" value="$(arg draw_human_update)" />
    <param name="draw_robot_update" value="$(arg draw_robot_update)" />
    <param name="run_human_tracking" value="$(arg run_human_tracking)" />
    <param name="run_robot_backend" value="$(arg run_robot_backend)" />
    <param name="run_replanning" value="$(arg run_replanning)" />
    <param name="robot_split_file" value="$(arg robot_split_file)" />
    <param name="robot_split_save" value="$(arg robot_split_save)" />

  </node>

</launch>
